@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit-VariableFont_wght.ttf');
}

.heroh1 {
  font-size: '64px';
}

.bgimg1 {
  background-image: url('../src/IMG/desktopbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.bgimg2 {
  background-image: url('../src/IMG/bgworldlg.png');
  background-color: #030545;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

.bgimg3 {
  background-image: url('../src/IMG/bgworldlg.png');
  background-color: #030545;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

.bgimg2::before {
  content: '';
  background-image: url('../src/IMG/wolf.svg');
  background-size: 550px;
  background-color: rgba(0, 0, 0, 0.4);
  background-position-y: center;
  background-position-x: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-top-right-radius: 60% 40%;
  border-bottom-right-radius: 60% 40%;
  position: absolute;
  left: 0;
  width: 45vw;
  height: 100dvh;
}

.clip-box {
  --c: 23%;
  aspect-ratio: 1;
  mask: radial-gradient(var(--c) 53% at left, #0000 calc(100% - 1px), #000);
  background-color: red;
}

/* Hide scrollbar for all browsers */
.hidden-scrollbar {
  overflow-y: scroll; /* Ensures the element is scrollable */
  scrollbar-width: none; /* For Firefox */
}

/* For WebKit-based browsers (e.g., Chrome, Edge, Safari) */
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}


.borderh {
  border-bottom: 2px solid blue;
}

.boundary::after {
  content: '';
  position: absolute;
  background-color: #209ED9;
  height: .1rem;
  width: 14.5rem;
  margin-top: .6rem;
  margin-left: .3rem;
}

.boundary::before {
  content: '';
  position: absolute;
  background-color: #209ED9;
  height: .1rem;
  width: 14.5rem;
  margin-top: .6rem;
  margin-left: -15rem;
}

.dashboard {
  background-image: url('../src/IMG/dashboard-hero.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* height: 100%; */
  width: auto;
}

.hero_fs {
  font-size: 34px;
}

.stats {
  display: block;
  width: 40%;
  font-size: 18px;
}

@media (max-width: 576px) {
  .bgimg1 {
    background-image: url('../src/IMG/mobilebg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
  }

  .bgimg2 {
    background-image: url('../src/IMG/bgnetsm.png');
    background-color: #030545;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 100dvh;
    width: 100dvw;
  }

  .bgimg3 {
    background-image: url('../src/IMG/bgnetsm.png');
    background-color: #030545;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 100dvh;
    width: 100dvw;
  }

  .bgimg2::before {
    content: '';
    background-image: url('../src/IMG/wolf-blurred.png');
    background-color: rgba(0, 0, 0, 0.2);
    background-position: top;
    background-position-y: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top-right-radius: 0% 0%;
    border-bottom-left-radius: 60% 30%;
    border-bottom-right-radius: 60% 30%;
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
  }

  .clip-box {
    --c: 0;
    aspect-ratio: 1;
    mask: radial-gradient(var(--c) 53% at left, #0000 calc(100% - 1px), #000);
    background-color: red;
  }

  .borderh {
    border: none;
  }

  .boundary::after {
    content: '';
    position: absolute;
    background-color: #209ED9;
    height: .1rem;
    width: 8rem;
    margin-top: .6rem;
    margin-left: .3rem;
  }
  
  .boundary::before {
    content: '';
    position: absolute;
    background-color: #209ED9;
    height: .1rem;
    width: 8rem;
    margin-top: .6rem;
    margin-left: -8.3rem;
  }

  .stats {
    display: block;
    width: 40%;
    font-size: 9px;
  }
}

.hero_fs {
  font-size: .4rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loader {
  animation: boom duration timing-function 0s infinite direction both;
}

@media (min-width: 577px) and (max-width: 768px) {
  .dashboard {
    background-image: url('../src/IMG/dashboard-hero.png');
    background-size: contain;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    height: 50%;
    /* width: auto; */
  }
}

@keyframes boom {
  from {
    /* transform: rotate(0deg); */
    transform: scale(1);
  }
  to {
    /* transform: rotate(360deg); */
    transform: scale(2);
  }
}
